{% extends 'common/base.html' %}
{% from 'common/macro.html' import pagination_show %}
{% block title %}我的文章{% endblock %}
{% block page_content %}
{% for p in posts %}
        <hr style="margin-top: 15px;margin-bottom: 15px"/>
    <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="{{ url_for('static',filename='upload/'+p.user.icon) }}" style="height: 64px;width: 64px" alt="icon">
    </a>
      <span>{{ p.user.username }}</span>
  </div>
  <div class="media-body">
      <div style="float:right">{{ moment(p.timestamp).fromNow() }}</div>
      <h4 class="media-heading"><a>{{ p.title }}</a></h4>
    {{ p.describe }}
  </div>
</div>
    {% endfor %}
    <hr/>
    <div style="text-align: center">{{ pagination_show(pagination,'article.mypublish') }}</div>
{% endblock %}